@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


.user-header {
    font-size: 12px;
    margin-top: 4px;
    cursor: pointer;
}

.profile-pic {
  height: 32px; 
  width:32px; 
  border-radius: 25px;
}

.profile-pic-large {
  height: 200px; 
  width:200px; 
  border-radius: 50%;
}

.text-details {
  font-size: smaller; 
  font-weight: normal;
}
  
.text-bold {
  font-size: small; 
  font-weight: bold;
}

input.ng-touched.ng-invalid  {
    background-color: #f0808059;
    border-color: #dc3545;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 12px 0px rgb(233, 102, 102);
}

.error-message {
  color: #dc3545;
  text-shadow: 0 0 12px 0px rgb(233, 102, 102);
}

input.ng-touched.ng-valid {
  background-color: lightgreen;
}

.edit-icon {
  color: rgb(0, 140, 255);
  size: 0.5rem;
  position: absolute;
  top: 0;
  left: 80%;
  cursor: pointer;
}

.delete-icon {
  color: rgb(255, 38, 0);
  size: 0.5rem;
  position: absolute;
  top: 0;
  left: 90%;
  cursor: pointer;
}

.edit-icon-projects {
  color: rgb(0, 140, 255);
  size: 1rem;
  cursor: pointer;
}

.delete-icon-projects {
  color: rgb(255, 38, 0);
  size: 1rem;
  cursor: pointer;
}