<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 m-2">
      <mat-card class="example-card" style="cursor: pointer;" routerLink="/employees">
        <mat-card-header>
          <mat-card-title>Employees</mat-card-title>
          <mat-card-subtitle>See list of GTN active and non-active employees</mat-card-subtitle>
        </mat-card-header>
        <img style="max-width: 400px; height: auto;" mat-card-image src="/assets/employees.jpg" >
      </mat-card>
    </div>
    <div class="col-12 col-md-4 m-2">
      <mat-card class="example-card" style="cursor: pointer;" routerLink="/projects">
        <mat-card-header>
          <mat-card-title>Projects</mat-card-title>
          <mat-card-subtitle>See list of GTN active Projects</mat-card-subtitle>
        </mat-card-header>
        <img style="max-width: 380px; height: auto;" mat-card-image src="/assets/projects.jpg" >
      </mat-card>
    </div>
  </div>
</div>
